/* Center the container in the middle of the page */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: #f5f5f5;
}

/* Main container with a grid layout */
.dashboard-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 4fr 1fr;
    gap: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 1100px;
    width: 100%;
}

/* DataTable container styling */
.datatable-container {
    grid-column: span 2;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    overflow: hidden;  /* Prevent overflow */
}


/* DataTable styling */
#example_wrapper {
    width: 100%;
    overflow-x: auto;  /* Allow horizontal scrolling for DataTable */
}

#example {
    width: 100% !important;
    max-width: 100%;
    font-size: 0.9rem; /* Let columns automatically adjust width */
}

/* Reduce padding and margin of table cells */
#example td, #example th {
    padding: 4px;  /* Reduce padding to make cells smaller */
    /* text-align: center;  Center align to make it visually balanced */
}

#table-head th {
    background-color: #f5f5f5;
    /* font-weight: 500; */
    padding: 5px 0px 5px 0px;
}
#example tfoot th input {
    width: 100%;
    padding: 4px;
    box-sizing: border-box;
}

/* Chart and other visualization placeholders */
.chart {
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eaeaea;
    border-radius: 8px;
    font-size: 1rem;
    color: #666;
}
